# R
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Conda
**/conda-env

# JetBrains IDE
**/.idea

# Jupyter
.ipynb_*
checkpoint/
**/.ipynb_checkpoints

# Python
*.h5

# Otehr
metastore_db/
*derby.log*
tb_logs/

